# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: '^openacr\/uswds\/|tests\/examples\/uswds\/|dist'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: https://github.com/mattlqx/pre-commit-search-and-replace
    rev: v1.0.4
    hooks:
      - id: search-and-replace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
